#bannerTop{
    position: fixed;
    height: 2rem;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem;
    border-radius: 3%;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
     background: -moz-linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
    background: -ms-linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
	background: -webkit-linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
	background: linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
}
#text{
    background: -moz-linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
    background: -ms-linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
	background: -webkit-linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
	background: linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
    position: relative;
    height: 15rem;
    top: 5rem;
    left: 0;
    right: 0;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 0rem;
    border-radius: 0%;
    font-size: .75rem;
    font-family: sans-serif;
    text-align: center;
    color: lightblue;
    
}
body{
    text-align: center;
   background: -moz-linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
    background: -ms-linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
	background: -webkit-linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
	background: linear-gradient(left top,hsla(197, 0%, 1%, .30),hsla(224, 95%, 26%,.20),hsla(197, 0%, 1%, .30));
}
#links{
    color: white;
    float: left;
    position: absolute;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 3rem;
    border-radius: 10%;
    border-color: darkred;
    background: -moz-linear-gradient(left top,hsla(240, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));
    background: -ms-linear-gradient(left top,hsla(240, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));
	background: -webkit-linear-gradient(left top,hsla(240, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));
	background: linear-gradient(left top,hsla(240, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));

}