#bannerTop{
    position: fixed;
    height: 4rem;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem;
    border-radius: 3%;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    background: -moz-linear-gradient(left top,hsla(280, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));
    background: -ms-linear-gradient(left top,hsla(280, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));
	background: -webkit-linear-gradient(left top,hsla(280, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));
	background: linear-gradient(left top,hsla(280, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));
}

#photo{
    background: url(favicon.png) no-repeat center;
    background-size: contain;
    width: 4rem;
    padding-bottom: 3rem;
    border-radius: 0%;
    float: right;
}
body{
    background: black;
}
#links{
    color: white;
    float: left;
    position: fixed;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 3rem;
    border-radius: 10%;
    background: -moz-linear-gradient(left top,hsla(280, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));
    background: -ms-linear-gradient(left top,hsla(280, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));
	background: -webkit-linear-gradient(left top,hsla(280, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));
	background: linear-gradient(left top,hsla(280, 95%, 19%, 0.97),hsla(197, 0%, 1%, .97));

}